@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 80 30% 25%;
    --card: 60 50% 96%;
    --card-foreground: 80 30% 25%;
    --popover: 60 50% 96%;
    --popover-foreground: 80 30% 25%;
    --primary: 80 58% 35%;
    --primary-foreground: 80 60% 95%;
    --secondary: 80 20% 85%;
    --secondary-foreground: 80 58% 35%;
    --muted: 80 20% 85%;
    --muted-foreground: 80 25% 45%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 86%;
    --input: 60 30% 88%;
    --ring: 80 58% 35%;
    --radius: 0.5rem;
    --chart-1: 80 70% 50%;
    --chart-2: 51 80% 60%;
    --chart-3: 60 70% 70%;
    --chart-4: 80 40% 50%;
    --chart-5: 51 60% 55%;
  }

  .dark {
    --background: 80 10% 10%;
    --foreground: 60 30% 90%;
    --card: 80 10% 15%;
    --card-foreground: 60 30% 90%;
    --popover: 80 10% 10%;
    --popover-foreground: 60 30% 90%;
    --primary: 80 58% 45%;
    --primary-foreground: 80 60% 95%;
    --secondary: 80 15% 20%;
    --secondary-foreground: 60 30% 90%;
    --muted: 80 15% 20%;
    --muted-foreground: 60 20% 60%;
    --accent: 51 100% 60%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 10% 25%;
    --input: 80 10% 25%;
    --ring: 80 58% 45%;
    --chart-1: 80 70% 50%;
    --chart-2: 51 80% 60%;
    --chart-3: 60 70% 40%;
    --chart-4: 80 40% 50%;
    --chart-5: 51 60% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
